{% extends "base.html" %}


{% block title %}
{{project.project_name}}
{% endblock %}

{% block head %}
<style>
    .middle_box {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        height: 50vh;
        width: 80vw;
    }


    #myModal {
        z-index: 2000;
    }

    .addtask-button {
        margin-top: 20px;
    }

    .center {
        text-align: center;
    }

    .task-delete {
        display: none;
    }

    /* Style the search box inside the navigation bar */
    .topnav input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
    }
</style>

{% endblock %}

{% block body %}

<div style="margin-left: 50px; margin-right: 50px; margin-top: 10px;" class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Sprints
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for sprint in spirnts %}
        <a class="dropdown-item"
            href="{{url_for('show_sprint',project_id=project.id,sprint_id=sprint.id)}}">{{sprint.name}}</a>
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col center">
        <button style="float: right; font-family: Verdana;" type="button" class="btn btn-info btn-lg addtask-button"
            data-toggle="modal" data-target="#myModal">Add Task</button>
    </div>
    <div class="col center">
        <button style="float: right; font-family: Verdana;" type="button" class="btn btn-info btn-lg addtask-button"
            data-toggle="modal" data-target="#Sprint">Create Sprint</button>
    </div>
    {% if current_user.id == project.admin_id %}
    <div class="col center">
        <a href="{{url_for('search_for_colaborator',project_id=project.id)}}"><button
                class="btn btn-info btn-lg addtask-button">Add Colaborator</button></a>
    </div>
    {% endif %}
    <div class="col center">
        <button style="float: left; font-family: Verdana;" type="button" id="delete-button"
            class="btn btn-danger btn-lg addtask-button" onclick="show_all();">Delete</button>
    </div>
</div>
<div style="margin-left: 50px; margin-right: 50px;" class="row">
    <div class="card col"
        style="position: relative; border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%; box-shadow: 20px 20px rgba(0,0,0,.15); transition: all .4s ease; margin: 15px;">
        <div class="card-header">
            <p style="margin-top: 8%; font-size: 20px;"> Tasks</p>
        </div>
        <ul class="list-group list-group-flush">
            {% for curr_task in result %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <span style="float:left">{{curr_task['taskname']}}</span>
                        <span style="float:right">
                            {% if curr_task['overdue'] %}
                            <p style="color:red">{{curr_task['completedate'][:10]}}</p>
                            {% else %}
                            <p style="color:blue">{{curr_task['completedate'][:10]}}</p>
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col center">
                        <a class="add-task-sprint"
                            href="{{url_for('add_task_sprint', task_id=curr_task['id'], project_id=project.id)}}">Add to
                            sprint</a>
                    </div>
                        
                    <div class="col center">
                        {% if current_user.id == project.admin_id %}
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                                {% for name in not_assigned[curr_task['id']] %}
                                <li><a href="{{ url_for('assign_task', task_id=curr_task['id'], username = name)}}">{{name}}</a></li>
                                {% endfor %}
                            </ul>
                          </div>
                            
                        {% endif %}
                        {% if conUT[curr_task['id']] %}
                            <a class="assign" href="{{ url_for('assign_task', task_id=curr_task['id'], username = current_user.username)}}">assign to me</a>
                        {% else %}
                            <a class="unassign" href="{{ url_for('unassign_task', task_id=curr_task['id'])}}">unassign</a>
                        {% endif %}
                    </div>
                    <div class="col center">
                        <a class="task-delete"
                            href="{{ url_for('add_task', task_id=curr_task['id'], project_id=project.id)}}">delete</a>
                    </div>
                    <div class="col center">
                        Assigned to:
                        {% if not assigned[curr_task['id']] %}
                            <p>No one</p>
                        {% else %}
                            <p id="test" data-toggle="tooltip">
                            {% for name in assigned[curr_task['id']] %}
                                {{name}}
                            {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}

        </ul>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="float:left;">Add Task</h4>
                <button type="button" class="close" data-dismiss="modal" style="float:right">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post" action="{{url_for('add_task', project_id=project.id)}}">
                    <div class="form-group">
                        <label for="taskname">Task Name</label>
                        <input type="text" class="form-control" id="taskname" name="taskname" placeholder="Enter task"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="taskname">Task Description</label>
                        <input type="text" class="form-control" id="taskname" name="description"
                            placeholder="Enter description">
                    </div>
                    <div class="form-group">
                        <label for="completedate">Date</label>
                        <input class="form-control" type="date" id="completedate" name="completedate" required>
                    </div>
                    <div class="form-group">
                        <label for="taskstate">State</label>
                        <select class="form-control" id="state" name="taskstate" required>
                            <option value="TO DO">TO DO</option>
                            <option value="PROGRESS">PROGRESS</option>
                            <option value="TESTING">TESTING</option>
                            <option value="DONE">DONE</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="importance">Importance</label>
                        <select class="form-control" id="importance" name="importance" required>
                            <option value="P0">P0</option>
                            <option value="P1">P1</option>
                            <option value="P2">P2</option>
                            <option value="P3">P3</option>
                            <option value="P4">P4</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select multiple class="form-control" id="category" name="category" required>
                            <option value="Add feature">Add feature</option>
                            <option value="Bug fix">Bug fix</option>
                            <option value="Speed improvement">Speed improvement</option>
                            <option value="Tests">Tests</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>
</div>

<div id="Sprint" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="float:left;">create Sprint</h4>
                <button type="button" class="close" data-dismiss="modal" style="float:right">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post" action="{{url_for('create_sprint', project_id=project.id)}}">
                    <div class="form-group">
                        <label for="sprint_name">Sprint Name</label>
                        <input type="text" class="form-control" id="sprint_name" name="sprint_name"
                            placeholder="Enter task" required>
                    </div>
                    <div class="form-group">
                        <label for="sprint_completedate">Date</label>
                        <input class="form-control" type="date" id="sprint_completedate" name="sprint_completedate"
                            required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function show_all() {
        var arrayOfElements = document.getElementsByClassName('task-delete');
        var lengthOfArray = arrayOfElements.length;

        for (var i = 0; i < lengthOfArray; i++) {
            arrayOfElements[i].style.display = 'inline';
        }

        document.getElementById('delete-button').onclick = hide_all;
    }

    function hide_all() {
        var arrayOfElements = document.getElementsByClassName('task-delete');
        var lengthOfArray = arrayOfElements.length;

        for (var i = 0; i < lengthOfArray; i++) {
            arrayOfElements[i].style.display = 'none';
        }

        document.getElementById('delete-button').onclick = show_all;
    }

    $(function () {
        var lengthText = 10;
        var text = $('#test').text();
        var shortText = $.trim(text).substring(0, lengthText).split(" ").slice(0, -1).join(" ") + "...";

        $('#test').prop("title", text);
        $('#test').text(shortText);

        $('[data-toggle="tooltip"]').tooltip();
    })

    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $(".dropdown-menu li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}